@use "./sass/colors";
@use "./sass/fonts";

.tarjeta {
  position: relative;
  width: 350px;
  min-width: 350px;
  margin: 15px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
  }

  &_color_azul::before {
    background-color: colors.$azul;
  }
  &_color_rojo::before {
    background-color: colors.$rojo;
  }
  &_color_naranja::before {
    background-color: colors.$naranja;
  }
  &_color_cian::before {
    background-color: colors.$cian;
  }

  &__titulo {
    font-size: 1.4rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__descripcion {
    font-size: 1rem;
    color: colors.$azul-grisaceo;
    margin-bottom: 1;
  }

  &__imagen {
    display: block;
    width: 64px;
    height: 64px;
    margin-left: auto;
  }
}

@media (min-width: 775px) {
  .tarjeta_posicion_abajo {
    transform: translateY(50%);
  }
}
