/* Primarios */
$rojo-desaturado: #ce9797;
$rojo-suave: #f96262;

/* Neutrales */
$rojo-oscuro-grisaceo: #413a3a;

/* Gradientes */
$gradiente-claro: linear-gradient(135deg, #ffffff, #fff5f5);
$gradiente-oscuro: linear-gradient(135deg, #f8bfbf, #ee8c8c);
